body {
  background-color: khaki;
}
#box1 {
  width: 25vw;
  height: 20vh;
  background-color: indianred;
}

#box1:hover {
  background-color: purple;
}

#box2 {
  width: 25vw;
  height: 20vh;
  position: relative;
  animation: box2move 5s infinite;  /* 2s = duration, forwards = keep the end state */
}

@keyframes box2move {
  0% {
    transform: translateX(0);
    background-color: orangered;
  }
  50% {
    transform: translateX(200px);
    background-color: green;
  }
  100% {
    transform: translateX(0);
    background-color: orangered;
  }
}

@keyframes box3Move {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(200px);
    }
    100% {
      transform: translateY(0);
    }
  }
